In [1]:
import os
import numpy as np
import pandas as pd

In [5]:
file = pd.read_csv('FixationIndex.tsv', sep='\t', encoding = 'latin1')

In [8]:
display(file)

,RecordingName,MediaName,RecordingTimestamp,FixationIndex,Unnamed: 4
0,Rec 01,4_puder_5.png,93429,1.0,NaN
1,Rec 01,4_puder_5.png,93438,1.0,NaN
2,Rec 01,4_puder_5.png,93446,1.0,NaN
3,Rec 01,4_puder_5.png,93454,1.0,NaN
4,Rec 01,4_puder_5.png,93463,1.0,NaN
...,...,...,...,...,...
393230,Block_1_3_0017,16.5.t.png,722577,NaN,NaN
393231,Block_1_3_0017,16.5.t.png,722586,NaN,NaN
393232,Block_1_3_0017,16.5.t.png,722594,NaN,NaN
393233,Block_1_3_0017,16.5.t.png,722602,NaN,NaN
393234,Block_1_3_0017,16.5.t.png,722610,NaN,NaN

In [18]:
file.RecordingName.unique()

array(['Rec 01', 'Rec 02', 'Block_1_1_Rec 03', 'Block_1_3_Rec 05',
       'Block_1_1_0001', 'Block_2_1_0002', 'Block_1_2_0003',
       'Block_2_2_0004', 'Block_1_3_0005', 'Block_2_3_0006',
       'Block_1_1_0007', 'Block_1_2_0009', 'Block_2_2_0010',
       'Block_1_3_0011', 'Block_2_3_0012', 'Block_1_1_0013',
       'Block_2_1_0014', 'Block_1_2_0015', 'Block_2_2_0016',
       'Block_1_3_0017', 'Block_2_1_0008'], dtype=object)

In [28]:
new_file = file[file.RecordingName != 'Rec 01']
new_file = new_file[file.RecordingName != 'Rec 02']
new_file = new_file[file.RecordingName != 'Block_1_1_Rec 03']
new_file = new_file[file.RecordingName != 'Block_1_3_Rec 05']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [29]:
new_file.RecordingName.unique()

array(['Block_1_1_0001', 'Block_2_1_0002', 'Block_1_2_0003',
       'Block_2_2_0004', 'Block_1_3_0005', 'Block_2_3_0006',
       'Block_1_1_0007', 'Block_1_2_0009', 'Block_2_2_0010',
       'Block_1_3_0011', 'Block_2_3_0012', 'Block_1_1_0013',
       'Block_2_1_0014', 'Block_1_2_0015', 'Block_2_2_0016',
       'Block_1_3_0017', 'Block_2_1_0008'], dtype=object)

In [31]:
new_file.FixationIndex.unique()

array([nan,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88.])

In [34]:
record_1 = new_file[new_file.RecordingName == 'Block_1_1_0001']

In [35]:
record_1

,RecordingName,MediaName,RecordingTimestamp,FixationIndex,Unnamed: 4
2807,Block_1_1_0001,4_puder_5.png,79972,NaN,NaN
2808,Block_1_1_0001,4_puder_5.png,79980,NaN,NaN
2809,Block_1_1_0001,4_puder_5.png,79988,NaN,NaN
2810,Block_1_1_0001,4_puder_5.png,79997,NaN,NaN
2811,Block_1_1_0001,4_puder_5.png,80005,NaN,NaN
...,...,...,...,...,...
387464,Block_1_1_0001,16.5.t.png,495309,10.0,NaN
387465,Block_1_1_0001,16.5.t.png,495317,10.0,NaN
387466,Block_1_1_0001,16.5.t.png,495326,10.0,NaN
387467,Block_1_1_0001,16.5.t.png,495334,10.0,NaN
387468,Block_1_1_0001,16.5.t.png,495342,10.0,NaN

In [38]:
record_1_fixation_1 = record_1.loc[record_1['FixationIndex'] == 1.0]

In [40]:
record_1_fixation_1

,RecordingName,MediaName,RecordingTimestamp,FixationIndex,Unnamed: 4
2902,Block_1_1_0001,4_puder_5.png,80762,1.0,NaN
2903,Block_1_1_0001,4_puder_5.png,80770,1.0,NaN
2904,Block_1_1_0001,4_puder_5.png,80778,1.0,NaN
2905,Block_1_1_0001,4_puder_5.png,80786,1.0,NaN
2906,Block_1_1_0001,4_puder_5.png,80795,1.0,NaN
...,...,...,...,...,...
387147,Block_1_1_0001,16.5.t.png,492669,1.0,NaN
387148,Block_1_1_0001,16.5.t.png,492677,1.0,NaN
387149,Block_1_1_0001,16.5.t.png,492686,1.0,NaN
387150,Block_1_1_0001,16.5.t.png,492694,1.0,NaN
387151,Block_1_1_0001,16.5.t.png,492702,1.0,NaN

In [41]:
record_1_fixation_1.sort_values(by=['RecordingTimestamp'])

,RecordingName,MediaName,RecordingTimestamp,FixationIndex,Unnamed: 4
32082,Block_1_1_0001,4_puder_2.png,19567,1.0,NaN
32083,Block_1_1_0001,4_puder_2.png,19575,1.0,NaN
32084,Block_1_1_0001,4_puder_2.png,19583,1.0,NaN
32085,Block_1_1_0001,4_puder_2.png,19592,1.0,NaN
32086,Block_1_1_0001,4_puder_2.png,19600,1.0,NaN
...,...,...,...,...,...
322305,Block_1_1_0001,4.5.t.png,621389,1.0,NaN
322306,Block_1_1_0001,4.5.t.png,621397,1.0,NaN
322307,Block_1_1_0001,4.5.t.png,621405,1.0,NaN
322308,Block_1_1_0001,4.5.t.png,621414,1.0,NaN
322309,Block_1_1_0001,4.5.t.png,621422,1.0,NaN

In [45]:
fix_index = pd.read_csv('FixationIndex.tsv', sep='\t', encoding = 'latin1')

In [52]:
#AOI_hit = pd.read_csv('AOIHit.tsv', sep='\t', encoding = 'latin1', error_bad_lines = False)

In [63]:
#gaze_event_duration = pd.read_csv('GazeEventDuration.tsv', sep='\t', encoding = 'ISO-8859-1')

In [ ]:
gaze_event_type = pd.read_csv('GazeEventType.tsv', sep='\t', encoding = 'latin1')

In [64]:
#gaze_point_index = pd.read_csv('GazePointIndex.tsv', sep='\t', encoding = 'latin1')

In [65]:
pupil = pd.read_csv('Pupil.tsv', sep='\t', encoding = 'latin1')

In [66]:
SaccadeIndex = pd.read_csv('SaccadeIndex.tsv', sep='\t', encoding = 'latin1')

In [68]:
#variables = pd.read_csv('Variables.tsv', sep='\t', encoding = 'latin1')